* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #686de0;
}

.loader,
.loader::before,
.loader::after {
  width: 30px;
  height: 30px;
  border-radius: 90px;
  animation: load 1.8s ease-in-out infinite;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  color: #fff;
  animation-delay: -0.16s;
}

.loader::before,
.loader::after {
  position: absolute;
  top: 0;
  content: '';
}

.loader::before {
  left: -50px;
  animation-delay: -0.28s;
}

.loader::after {
  left: 50px;
}

@keyframes load {
  0%, 75%, 100% {
    box-shadow: 0 90px 0 -20px;
  }
  40% {
    box-shadow: 0 30px 0 0;
  }
}